# 服务端口
PORT=7777
# 是否局域网请求  127.0.0.1仅允许本地访问    0.0.0.0允许局域网其他设备访问
LISTENER=127.0.0.1 #0.0.0.0
JWT_SECRET=your-secret-key-change-me

# 练习页隐藏答案输入框（true=隐藏，false=显示）
HIDE_PRACTICE_INPUT=false

# AI 模型配置
AI_API_KEY=sk-your-api-key
AI_API_BASE_URL=https://api.openai.com/v1
AI_MODEL=gpt-3.5-turbo
